<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array/>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<false/>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Images</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.image</string>
				<string>public.content</string>
				<string>public.data</string>
			</array>
		</dict>
	</array>

	<key>NSPhotoLibraryUsageDescription</key>
	<string>我们需要访问您的相册以导入照片并提供清理功能。</string>
	<key>NSCameraUsageDescription</key>
	<string>我们需要访问您的相机以拍摄照片。</string>
</dict>
</plist>
