<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>To use the camera feature, please allow [Youlog] to access camera permissions. After taking a photo, the photo will be saved to Youlog timeline , where you can view the photos and perform operations such as adding notes.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Photo library access is required to add images from your photo library to Youlog. The photos will be saved to Youlog timeline, , where you can view the photos and perform operations such as adding notes.</string>
	<key>UIBackgroundModes</key>
	<array/>
</dict>
</plist>
